<div class="container">
 <hr class="line-header">
 <div class="row box">   
    <div class="box-search mx-auto">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input #textoProcurado (keyup)="0" class="form-control" placeholder="Filtrar por título">  
        <div class="input-group-append">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle">
                  em todo o site <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" href="#"><span>Notícias (34613)</span></a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><span>Vídeos (10000)</span></a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><span>Fotos (8000)</span></a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><span>Blogs (2000)</span></a>
                  </li>
                </ul>
              </div>
          <button class="btn btn-outline-secondary btn-search" type="button">Pesquisar</button>
        </div>
        <div class="pesquisa-avacada">       
            <div class="btn-group" dropdown>
                <a dropdownToggle type="text" class="dropdown-toggle">
                  Pesquisa avançada<span class="caret"></span>
                </a> 
              </div>
        </div>
    </div>
 </div>
 <div class="row">
    <div class="box-list mx-auto">
        <div class="box-results">
            <span class="results">
              <div class="line"></div>           
              <p style="width:100px; position:relative" *ngIf="!noticia">{{ artigos.length }} resultados para ""{{textoProcurado.value}}"</p>  
            </span>
          </div>
          <div class="box-news">
              <ul class="list-unstyled">
                  <li *ngFor="let artigo of artigos | slice : startPage:paginationLimit | filtroDaBusca:textoProcurado.value"  class="list media">                  
                      <a href="{{artigo.url}}" class="display-none">
                        <figure class="effect-julia">               
                              <img class="img-fluid" src="{{artigo.imagem}}" alt="img21"/>                 
                        </figure>
                      </a>
                      <div class="media-body"> 
                        <a href="{{artigo.url}}"><h2 class="mt-0 mb-1">{{artigo.titulo}}</h2>
                          <p class="text-justify">{{artigo.descricao}}</p>
                        </a>
                        <div class="box-footer">
                          <span>{{artigo.hora}} - {{artigo.data}}</span><span> - Compartilhe<img src='../assets/images/facebook-box.svg'><img src='../assets/images/twitter-box.svg'></span>
                        </div>
                      </div>
                  </li>
                </ul>
                <div class="box-load text-center">
                    <a  *ngIf ="paginationLimit < artigos.length" (click)="showMoreItems()">
                      Ver mais matérias
                    </a>  
                </div>
          </div>     
    </div>
  </div>
</div>